@{
    ViewBag.Title = "About";
}
<h2>Sobre</h2>
<h3>Porão dos Instrumentos</h3>

<p>
    O Porão dos Instrumentos. é uma nova plataforma que permite a venda e compra específica de equipamentos musicais. 
</p>
