@{
    ViewBag.Title = "Contact";
}
<h2>Contato</h2>
<h3>Entre em contato</h3>

<address>
    <h4>Porão dos Instrumentos</h4><br />
    Rua: Alberto bins n°234 Gravataí/RS<br />
    <p>Telefones:</p>
    (51)3496-3455
    (51)3496-3455
</address>

<address>
    <strong>Suporte:</strong>  <a href="mailto:Suporte@poraomusical">Suporte@poraomusical.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@poraomusical.com">Marketing@poraomusical.com</a>
</address>