@{
    ViewBag.Title = "Home Page";
}

<div>
    <img src="~/images/logotest.png" style="display: block;
         margin-left: auto;
         margin-right: auto" /> 
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cadastrar</h2>
        <p>
            Cadastre-se é rápido, fácil e você passa a ter acesso a todo site!
        </p><br />
        <p><a class="btn btn-primary" href="Account/Register">Cadastre-se &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Anuncie Aqui</h2>
        <p>
        Quer vender seu instrumento musical com rapidez e segurança? anuncie conosco!
        </p><br />
        <p><a class="btn btn-primary" href="Anuncio/Create">Anunciar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Anuncios</h2>
        <p>Site para comércio de instrumentos musicais, aqui você anuncia seu produto e compra produtos de outros anunciantes com total segurança.</p>
        <p><a class="btn btn-primary" href="Anuncio/Index">Anuncios &raquo;</a></p>
    </div>
</div>